---
import "../styles/global.css";
---

<main>
    <header class=" text-white py-6 px-35 flex items-center fixed top-0 w-full justify-between z-40">
        <div>
         <img class="max-w-40 max-h-30" src="logo-p-removebg-preview-c.PNG" alt="logo">
        </div>

        <nav>
            <ul class="flex [&>li>a]:inline-block [&>li>a]:px-4">
                <li>
                    <a class="hover:text-gray-300" href="#">Home</a>
                </li>
                <li>
                    <a class="hover:text-gray-300" href="#">About</a>
                </li>
                <li>
                    <a class="hover:text-gray-300" href="#">Product</a>
                </li>
                <li>
                    <a class="hover:text-gray-300" href="#">Specifications</a>
                </li>
            </ul>
        </nav> 
    </header>

    <section class="bg-black  text-white h-screen w-screen relative overflow-hidden  text-center">
        
        <header class="z-30 relative text-left px-3.5 max-w-4xl px-20 py-40">
         <h2 class="text-white pt-30 text-4xl py-5 font-bold"> Tu primer Porsche</h2>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quos officiis corporis ab unde tenetur laboriosam quae accusantium illum sapiente vitae mollitia numquam dolorum soluta voluptate, cupiditate doloribus provident praesentium!</p>
         <button class="mt-5 py-3 px-6 text-white border-2 border-blue-500 text-blue-500 font-bold rounded-lg shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105"> Ver mas</button>
        </header>

    
        

        <div class="absolute top-[-50px] bottom-0 z-10">
            <img src="porsche-main-crop.jpg" alt="">
        </div>
    </section>
</main>