---
import CardProduct from "./CardProduct.astro";
---

<section class="bg-[#141414]">
    <div class=" container mx-auto max-w-10xl px-10 py-20">
    
      <CardProduct
        image="../public/back-1-p.jpg"
        title="Diseño Atemporal"
        description="Un equilibrio perfecto entre elegancia y deportividad, diseñado para destacar en cualquier camino. 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      />
      <CardProduct
      image="../public/back-p.jpg"
      title="Potencia y Rendimiento"
      description="Motor de alto rendimiento que combina velocidad y precisión para una experiencia de conducción única."
      />
      <CardProduct
      image="../public/back-2-p.jpg"
      title="Tecnología de Vanguardia"
      description="Equipado con lo último en innovación, ofreciendo conectividad y seguridad en cada detalle."
      />
      <CardProduct
      image="../public/back-c.jpg"
      title="Lujo y Confort"
      description="Interior diseñado para brindar comodidad y exclusividad, con materiales de la más alta calidad."
      />
    
      
    </div>
    
  </section>