---
import CardProduct from "./CardProduct.astro";
---

<section>
    <div class=" container max-h-full max-w-full">
      <CardProduct
        image="../public/back-1-p.jpg"
        title="Título 1"
        description="Descripción 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      />
      <CardProduct
      image="../public/back-p.jpg"
      title="Titulo2"
      description="Descripción 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit"
      />
      <CardProduct
      image="../public/back-2-p.jpg"
      title="Titulo2"
      description="Descripción 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit"
      />
      
    </div>
    
  </section>