<section class="bg-black  text-white h-screen w-screen relative overflow-hidden  text-center">
        
    <header class="text-left z-30 relative max-w-4xl ml-auto py-40 px-40">
     <h2 class="text-white pt-30 text-4xl py-5 font-bold text-left"> Tu primer Porsche</h2>
     <p class="text-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quos officiis corporis ab unde tenetur laboriosam quae accusantium illum sapiente vitae mollitia numquam dolorum soluta voluptate, cupiditate doloribus provident praesentium!</p>
     <button class="py-5 text-left ml-auto border-2 px-6 mt-5 border-blue-500  font-bold rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105">Ver más</button>
    </header>

    

    <div class="absolute inset-0 z-10">
        <img class="w-full h-full object-cover object-left" src="porsche-s.jpg" alt="">
    </div>
</section>